<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7WQGY3j9uPeld4FSMJIdyn1Hx8PjFpY4</string>
	<key>GCM_SENDER_ID</key>
	<string>752597396708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.fukushima.paru.TasteLog</string>
	<key>PROJECT_ID</key>
	<string>tastelog-155cb</string>
	<key>STORAGE_BUCKET</key>
	<string>tastelog-155cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752597396708:ios:4315328ed6fe8aff3910f1</string>
</dict>
</plist>